.home-content{
    padding: 20px;
}

.home-content .query-label{
    margin-right: 10px;
}

.home-content .search {
    outline: none;
    border: 1px solid #acaa71;
    border-radius: 2px;
    height: 22px;
    line-height: 22px;
}